img.logo {
    float: left;
    border-radius: 48%;
    visibility: visible;
    height: 80px;
    width: 80px;
    max-width: 100%;
    z-index: 1;
}

img.mainlogo {
    float: left;
    visibility: hidden;
    height: 277px;
    width: 233px;
    max-width: 100%;
    z-index: -1;
}

img.item {
    visibility: visible;
    height: 160px;
    width: 160px;
}