* {
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    background-color: rgb(255, 255, 255);
    opacity: 0.9;
}

body {
    margin: 1;
    padding-left: 400px;
    padding-right: 400px;
    text-align: justify;
}

main {
    background-color: whitesmoke;
    padding: 10px;
}

footer {
    padding: 10px;
    background-color: rgb(44, 191, 25);
}

.title {
    overflow: hidden;
    background-color: rgba(183, 255, 1, 0.927);
}

.title h1 {
    text-align: center;
    size: 36px;
}

.navbar {
    overflow: hidden;
    background-color: rgb(44, 191, 25);
}

h4 {
    color:  rgb(44, 191, 25);
}
  
.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.navbar a:hover {
    background-color: gold;
}

.searchdiv {
    position: absolute;
    top: 200px;
    left: 425px;
    border: 10px solid  rgb(44, 191, 25);
    padding: 15px;
    margin: 15px;
    background-color: rgba(183, 255, 1, 0.927);
    height: 220px;
    width: 400px;
    text-align: center;
}

.accountdiv {
    position: absolute;
    top: 200px;
    right: 425px;
    border: 10px solid  rgb(44, 191, 25);
    padding: 15px;
    margin: 15px;
    background-color: rgba(183, 255, 1, 0.927);
    height: 210px;
    width: 400px;
    text-align: center;
}

.newaccdiv {
    position: absolute;
    top: 125px;
    right: 425px;
    border: 10px solid gold;
    padding: 15px;
    margin: 15px;
    background-color: lightgreen;
    height: fit-content;
    width: 400px;
    text-align: center;
}

.logindiv {
    position: absolute;
    top: 125px;
    left: 425px;
    border: 10px solid rgb(207, 21, 253);
    padding: 15px;
    margin: 15px;
    background-color: orange;
    height: fit-content;
    width: 400px;
    text-align: center;
}

.logsignerror {
    position: absolute;
    top: 375px;
    left: 425px;
    border: 10px  solid gold;
    padding: 15px;
    margin: 15px;
    background-color: greenyellow;
    height: fit-content;
    width: 400px;
    color: red;
    font-size: 18px;
    text-align: center;
}
