{% load static %}
<!DOCTYPE html>
  <html lang="en" dir="ltr">
    <head>
      <meta charset="UTF-8">
      <meta name="author" content="TRIPPYBRUH">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="keywords" content="Forniture, decor, furnishing, free forniture, free stuff, free decor">
      <meta name="description" content="Free old forniture exchange platform">
      <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
      <title>Trash For Treasure</title>
    </head>
    <body>
      {% block body %}{% endblock %}
    </body>
  </html>  