{% extends 'BaseTemplate.html' %}

{% block body %}
<header>
    {% include 'BaseHeader.html' %}
</header>
<main style="height: 450px">
    <div class="logsignerror">
        {% if ec == 0 or ec == -1 %}
        <p>{{ msg }}</p>
        {% elif ec > 3 %}
        <p>An error occured during log in: {{ msg }}</p>
        <p><a href="/signup" target="_self">Forgot password?</a></p>
        {% elif ec <= 3 and ec > 0 %}
        <p>An error occurred: {{ msg }}</p>
        {% else %}
        <p><a href="/signup" target="_self">Forgot password?</a></p>
        {% endif %}
    </div>
    <div class="logindiv">
        <h3>Log in your existing account</h3>
        <form name="login" action="/signup/user/" method="post">
            {% csrf_token %}
            <label for="nickname">Username/Email:</label>
            <input autofocus required name="nickname"  placeholder="username/email" type="text">
            <br><br>
            <label for="psw">Password:</label>
            <input required name="psw" placeholder="password" type="password">
            <br><br>
            <input type="submit" value="LOGIN">
        </form>
    </div>
    <div class="newaccdiv">
        <h3>New account registration</h3>
        <p>Note: passowrd must be at least 6 characters long!</p>
        <form name="registration" action="/signup/newuser/" method="post">
            {% csrf_token %}
            <label for="nickname">Account username:</label>
            <input required name="nickname" placeholder="Enter a username" type="text">
            <br><br>
            <label for="psw">Account password:</label>
            <input required name="psw" placeholder="Enter a passowrd" type="password">
            <br><br>
            <label for="pswconf">Confirm password:</label>
            <input required name="pswconf" placeholder="Repeat the passowrd" type="password">
            <br><br>
            <label for="email">Email:</label>
            <input required name="email" placeholder="Enter your email" type="email">
            <br><br>
            <label required for="state">Your country:</label>
            <select id="state" name="state">
                <option value="Italy">Italy</option>
                <option value="France">France</option>
                <option value="Spain">Spain</option>
                <option value="UK">UK</option>
                <option value="Germany">Germany</option>
                <option value="Denmark">Denmark</option>
                <option vlaue="Poland">Poland</option>
                <option value="Greece">Greece</option>
                <option value="Belgium">Belgium</option>
                <option value="Netherlands">Netherlands</option>
                <option value="Other">Others</option>
            </select>
            <input type="submit" value="CREATE ACCOUNT">
        </form>
    </div>
</main>
<footer>
    {% include 'BaseFooter.html'%}
</footer>
{% endblock %}