{% extends 'BaseTemplate.html' %}

{% block body %}
<header class="title-box">
    <h1 class="title"><i><a href="/" target="_self">---TRASH 4 TREASURE---</a></i></h1>
    <p class="nav-links"><i>Version 1.0</i></p>
</header>
<h2>USER DATABASE</h2>
<div>
<table border="1">
    {% for x in Users %}
    <tr>
        <td>{{ x.id }}</td>
        <td>{{ x.nickname }}</td>
        <td>{{ x.psw }}</td>
        <td>{{ x.email }}</td>    
        <td>{{ x.created }}</td>
        <td><a href="delete/{{ x.id }}">DELETE</a></td>
    </tr>
    {% endfor %}
</table>
</div>
<h2>CATALOGUE DATABASE</h2>
<div>

</div>
{% endblock %}
