{% extends 'BaseTemplate.html' %}

{% block body %}
<header>
    {% include 'BaseHeader.html'%}
</header>
<main>
    <h2>USER DATABASE</h2>
    <div>
    <table border="1">
        {% for x in Users reversed %}
        <tr>
            <td>ID</td>
            <td>{{ x.id }}</td>
            <td>Username</td>
            <td>{{ x.nickname }}</td>
            <td>Passowrd</td>
            <td>{{ x.psw }}</td>
            <td>Email</td>
            <td>{{ x.email }}</td>  
            <td>Created</td>  
            <td>{{ x.created }}</td>
            <td><a href="delete/{{ x.id }}">DELETE</a></td>
        </tr>
        {% empty %}
        <p>No Users in database!</p>
        {% endfor %}
    </table>
    </div>
    <h2>CATALOGUE DATABASE</h2>
    <div>

    </div>
</main>
{% endblock %}
