* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html{
    background-color: rgba(188, 249, 110, 0.747);
}

body {
    margin: 1;
    text-align: justify;
    font-size: 18px;
}

.init{
    font-size: 128px;
    text-align: center;
    color: green;
}

.title{
    color: gold;
    text-align: center;
    font-size: 44px;
}

.title-box{
    height: 150px;
    max-width: 4000px;
    background-color:green;
    padding: 10px;
}

.index-par, .ext-par{
    color: darkblue;
}

.disclaimer{
    color: darkmagenta;
}

.nav-links{
    color: gold;
}