{% extends 'BaseTemplate.html' %}

{% block body %}
<header>
    {% include 'BaseHeader.html'%}
</header>
<main>
    <div>
        <h2>Personal Area: Welcome {{ user.nickname }}!</h2>
        <h3>Are you looking for something in particular?<h3>
        <form name="catsearch" action="/catalogue/search/" method="get">
            <input required type="text" placeholder="Type something..." name="search">
            <input type="submit" value="FIND">
        </form>
    </div>
    <div>    
        <h3>Looking to dispose something?</h3>
        <form name="addpiece" action="/signup/user/dash={{user.id}}/add" method="post">
            {% csrf_token %}
            <label for="title">ADD A TITLE:</label>
            <input required type="text" name="title" placeholder="What are you getting rid of?">
            <br><br>
            <label for="desc">ADD A DESCRIPTION:</label>
            <input required type="text" name="description" id="desc" placeholder="Brief descrption of its status" size="120">
            <br><br>
            <label for="img">UPLOAD SOME IMAGES:</label>
            <input type="file" id="image" name="img" multiple>
            <br><br>
            <label required for="items_number">SPECIFY NUMBER OF INDIVIDUAL OBJECTS:</label> 
            <input type="number" name="items_number" id="items_number" placeholder="How many are them?" min="1" max="100">
            <br><br>
            <hr>
            <p>SPECIFY THE ITEM/S EXACT LOCATION IN {{ user.country | upper }}:</p>
            <label for="region">REGION</label>
            <input type="text" name="region" id="region">
            <br><br>
            <label for="city">CITY</label>
            <input type="text" name="city" id="city">
            <br><br>
            <input type="submit" value="PUBLISH ADVERTISE">      
        </form>
    </div>
    <div>
        {% if ec >= 0 %}
        <p>{{ msg }}</p>
        {% endif %}
    </div>    
</main>
<div class="navbar">
    <a href="" target="_self">WatchLists</a>
    <a href="" target="_self">Chats</a>
    <a href="" target="_self">Account history<a>
    <a href="" target="_self">Account Settings</a>
</div>
<footer>
    {% include 'BaseFooter.html'%}
</footer>
{% endblock %}