{% extends 'BaseTemplate.html' %}

{% block body %}
<header>
    {% include 'BaseHeader.html'%}
</header>
<main>
    <div>
        <h2>Personal Area: Welcome {{ user.nickname }}!</h2>
        <h3>Are you looking for something in particular?<h3>
        <p>A SEARCH FORM WAS HERE</p>
    </div>
    <div>    
        <h3>Looking to dispose something?</h3>
        <p>DEVELOPER BUTTON: <a href="/signup/user/dash/addrandom" target="_self">ADD A RANDOM ITEM</a></p>
        {% include 'forms/catalogueAdding.html'%}
    </div>
    <div>
        {% if ec >= 0 %}
        <p>{{ msg }}</p>
        {% endif %}
    </div>    
</main>
<div class="navbar">
    <a href="/" target="_self">WatchLists</a>
    <a href="" target="_self">My items</a>
    <a href="" target="_self">Chats</a>
    <a href="" target="_self">Account history<a>
    <a href="" target="_self">Account Settings</a>
</div>
<footer>
    {% include 'BaseFooter.html'%}
</footer>
{% endblock %}