{% extends 'BaseTemplate.html' %}

{% block body %}
<header>
    {% include 'BaseHeader.html' %}  
</header>
<main style="height: fit-content">
    <div>
        <div>
            <h2>T4T CATALOGUE</h2>
            <p>By default this search is performed among ads <b style="color: green">titles</b>, but you can specify any filters if you wish</p>
            <form name="catsearch" action="/catalogue/search/" method="get">
                <input required type="text" name="search" placeholder="Search something...">
                <input type="submit" value="SHOW RESULTS">
                <br><br>
                <input type="hidden" name="search_type" value="default">
                <input type="radio" name="search_type" id="desc_search" value="by descriptions">
                <label for="desc_search">&#8592; Search also among ads descriptions</label><br>
                <input type="radio" name="search_type" id="location_search" value="by location">
                <label for="location_search">&#8592; Search for geo location</label><br>
                <input type="radio" name="search_type" id="publisher_search" value="by publisher">
                <label for="publisher_search">&#8592; Search by publisher username</label><br>
                <br>
            </form>
        </div>
        <hr>
        <div>
            {% if search != 'No search' %}
            <p>Showing search results for: "{{ search }}"<br>Search type: {{ search_type }}</p><hr>
            {% endif %}
            {% for x in items reversed %}
                <h4 style="color: green">{{ x.title }}</h4>
                <p>{{ x.description }}</p>
                <p><b>Location:</b> <a href="https://www.google.it/maps/search/{{x.geo_position}}/" target="blank">{{ x.geo_position}}</a></p>
                <p><b>Publisher:</b> {{ x.publisher_nn }}</p>
                <hr>
            {% empty %}
            <p>We are sorry, currently there isn't any item matching your search/filters!</p>
            {% endfor %}
        </div>    
    </div>
</main>
<footer>
    {% include 'BaseFooter.html' %}
</footer>   
{% endblock %}