{% load static %}
<div class="title">
  <div>
    <img class="logo" src="{% static 'logos/OIP.jpg' %}">
  </div>
  <h1><i><a href="/" target="_self">TRASH FOR TREASURE</a></i></h1>
</div>
<div class="navbar">
  <b><a href="/">Home</a></b>
  <b><a href="/catalogue">Explore Catalogue</a></b>
  <b><a href="/aboutT4T">About T4T</a></b>
  {% if auth == False or auth == None %}
  <b><a href="/signup">Login/Create account</a></b>
  {% else %}
  <b><a href="/signup">{{ req_user }} dashboard &#8594;</a></b>
  <b><a href="/logout">Logout   &#8594;</a></b>*
  {% endif %}
</div>