{% extends 'BaseTemplate.html' %}

{% block body %}
<header>
    {% include 'BaseHeader.html' %}
</header>
<main style="height: 450px">
    <div class="flex-container">
        <div class="login-account">
            <h3>Log in your existing account</h3>
            {% include 'forms/accountLogin.html' %}
        </div>
        <div class="logsign-error">
            {% if ec == 0 %}
            <p>{{ msg }}<br>Note that your password safety is {{ psw_safety }}</p>
            {% elif ec == -1 %}
            <p>{{ msg }}</p>
            {% elif ec > 3 %}
            <p>An error occured during log in: {{ msg }}</p>
            <p><a href="/signup" target="_self">Forgot password?</a></p>
            {% elif ec <= 3 and ec > 0 %}
            <p>An error occurred: {{ msg }}</p>
            {% else %}
            <p><a href="/signup" target="_self">Forgot password?</a></p>
            {% endif %}
        </div>
        <div class="new-account">
            <h3>New account registration<br><a href="/signup/newrandomuser/" target="_self">(CREATE RANDOM)</a></h3>
            <p>Note: password must be at least 6 characters long!</p>
            {% include 'forms/accountCreation.html' %}
        </div>
    </div>
</main>
<footer>
    {% include 'BaseFooter.html'%}
</footer>
{% endblock %}