{% extends 'BaseTemplate.html' %}

{% block body %}
<header>
    {% include 'BaseHeader.html'%}
</header>
<main>
    <p><i>Version 1.0.0, *LANDING PAGE FROM WEB, CONCEPT</i></p>
    <div class="searchdiv">
        <h2>FIND FREE PIECES OF FORNITURE IN YOUR AREA TODAY!</h2>
        <p>What are you looking for?</p>
        <form>
            <input type="text">
            <button>SEARCH</button>
        </form>
    </div>
    <div class="accountdiv">
        <h2>DASHBOARD ACCESS:</h2>
        <p><b><a href="signup/" target="_self">LOG INTO YOUR ACCOUNT</a></b></p>
        <p><b><a href="signup/" target="_self">SIGN UP FOR FREE</a></b></p>
    </div>
<!-- search | login or reg --> 
</main>
<hr/><hr/><hr/>
<footer>
<!--faq, about, user support, terms of use -->
    {% include 'BaseFooter.html'%}
</footer>

{% endblock %}
