{% extends 'BaseTemplate.html' %}

{% block body %}
<header>
    {% include 'BaseHeader.html'%}
</header>
<main style="height: 350px">
    {% include 'logoMains.html' %}
    <p><i>Version 1.0.0, *LANDING PAGE FROM WEB, CONCEPT</i></p>
    <div class="searchdiv">
        <h2>FIND ANYTHING IN YOUR AREA TODAY!</h2>
        <p>Get in touch with the owner, go pick it up and bring it back to life...</p>
        <form name="catsearch" action="/catalogue/search/" method="get">
            <input required type="text" name="search" placeholder="What are you looking for?">
            <input type="submit" value="SEARCH">
        </form>
    </div>
    <div class="accountdiv">
        <h2>DO YOU MIND THROWING AWAY SOMETHING IN GOOD CONDITION THAT YOU NO LONGER USE?</h2>
        <p>Make it available for someone in your area!</p>
        <p><b><a href="signup/" target="_self">JOIN THE T4T COMMUNITY</a></b></p>
    </div>
</main>
<footer>
    {% include 'BaseFooter.html'%}
</footer>

{% endblock %}
