<form name="registration" action="/signup/newuser/" method="post">
    {% csrf_token %}
    <label for="nickname">Account username:</label>
    <input required name="nickname" placeholder="Enter a username" type="text">
    <br><br>
    <label for="psw">Account password:</label>
    <input required name="psw" placeholder="Enter a password" type="password">
    <br><br>
    <label for="pswconf">Confirm password:</label>
    <input required name="pswconf" placeholder="Repeat the password" type="password">
    <br><br>
    <label for="email">Email:</label>
    <input required name="email" placeholder="Enter your email" type="email">
    <br><br>
    <label required for="state">Your country:</label>
    <select id="state" name="state">
        <option value="Italy">Italy</option>
        <option value="France">France</option>
        <option value="Spain">Spain</option>
        <option value="UK">UK</option>
        <option value="Germany">Germany</option>
        <option value="Denmark">Denmark</option>
        <option vlaue="Poland">Poland</option>
        <option value="Greece">Greece</option>
        <option value="Belgium">Belgium</option>
        <option value="Netherlands">Netherlands</option>
        <option value="Other">Others</option>
    </select>
    <input type="submit" value="CREATE ACCOUNT">
</form>