<form name="catsearch" action="/catalogue/search/" method="get">
    <input required type="text" name="search" placeholder="Search something...">
    <button type="submit">SHOW RESULTS <i class="fa fa-search"></i> </button>
    <label for="sort_type">Sort by: </label>
    <select id="sort_type" name="sort_type">
        <option value="newest">Newest added</option>
        <option value="oldest">Oldest added</option>
        {% if auth == True %}
        <option value="closest">Closer to me</option>
        {% endif %}
    </select><br>
    <input type="hidden" name="search_type" value="by title">
    <input type="radio" name="search_type" id="default_search" value="by title">
    <label for="default_search">&#8592; Search by title</label><br>
    <input type="radio" name="search_type" id="desc_search" value="by descriptions">
    <label for="desc_search">&#8592; Search also in ads descriptions</label><br>
    <input type="radio" name="search_type" id="location_search" value="by location">
    <label for="location_search">&#8592; Search by geo location</label><br>
    <input type="radio" name="search_type" id="publisher_search" value="by publisher">
    <label for="publisher_search">&#8592; Search by publisher username</label><br>
    <br>
</form>